@import "~vue-material/dist/theme/engine";

@include md-register-theme(
  "mono",
  (
    primary: #478fcd,
    accent: #448aff,
    background: #ffffff,
    theme: light
  )
);
/**{color: md-get-palette-color(blue, 800) !important;}*/
@import "~vue-material/dist/theme/all";
